* {
  
}

body {
  margin: 0;
  font-family: 'Lato:wght@400',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #F8FAFC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Lato:wght@700', serif;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
