:root {
  --font-family: 'Lato',  sans-serif;
  --title-font-family: 'Pacifico', cursive;
  --primary-colour: #0D9488;
  --secondary-colour: #BAE1DB;
  --tertiary-colour: #76BDB2;
  --light-colour: #F8FAFC;
  --grey-colour: #ECF4F3;
  --dark-colour: #061D1C;
  --complementary-colour: #fc7e00;
}

*::selection {
  color: var(--light-colour);
  background-color: var(--complementary-colour);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--light-colour);
}

p {
  margin: 20px 64px;
  font-size: 16px;
  font-weight: 300;
}

.centered {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  margin: 65px 64px;
  color: var(--dark-colour);
}


h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  margin: 65px 64px;
  color: var(--primary-colour);
}

h3 {
  font-family: var(--font-family);
  font-weight: 700;
  margin: 20px 64px;
  color: var(--dark-colour);
}

a {
  color: var(--dark-colour);
  text-decoration: underline;
}

a:hover {
  color: var(--primary-colour);
  text-decoration: underline;
}

a:active {
  color: var(--complementary-colour);
  text-decoration: underline;
}

.app {
  max-width: 1920px;
}

/* Mobile view */
@media only screen and (max-width: 1000px) {

  h1 {
    margin: 30px 24px;
    font-size: 40px;
  }

  h2 {
    margin: 30px 24px;
    font-size: 32px;
  }

  p {
    margin: 20px 24px;
    font-size: 14px;
    font-weight: inherit;
  }
}

@media only screen and (min-width: 1920px) {
  .app {
    margin: 0 auto;
  }
}