header {
    height: 20px;
    width: 100%;
    color: #F8FAFC;
    text-align: left;
    position: fixed;
    z-index: 20;
}

.header-bar {
    padding: 15px;
    background-color: #112726;
    z-index: 20;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 20px;
    margin: 0px 0px;
    color: #F8FAFC;
    line-height: 20px;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.mouse-icon {
    font-size: 32px;
    line-height: 0px;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.navigation-links {
    float: right;
    padding-right: 50px;
}

.navigation-links a {
    color: #F8FAFC;
    text-decoration: none;
    padding-right: 35px;
}

.navigation-links a:hover {
    color: #F8FAFC;
    text-decoration: underline;
}

.navigation-links a:active {
    color: #0D9488;
    text-decoration: underline;
}

.navigation-links-active::after {
    content: "📌";
    text-decoration: none !important;
    position: absolute;
}

.navigation-menu-icon {
    display: none;
}

/* Mobile view */
@media only screen and (max-width: 780px) {
    .navigation-links {
        display: none;
    }

    .navigation-menu-icon {
        display: inline;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }
}