.articles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0px 64px;
    gap: 32px;
}

@media only screen and (max-width: 1000px) {

    .articles-container {
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
}