div.article  {
    max-width: 390px;
    height: 450px;
    background-color: #F8FAFC;
    border-bottom: 5px solid #BAE1DB;
    text-align: left;
    display: grid;
    grid-template-rows: 53% 17% 20% 10%;
}

div.article:hover {
    border-bottom: 5px solid #0D9488;
}

.article-grid-item-title {
    align-self: flex-end;
}

.article-grid-item {
    align-self: center;
}

.article h2 {
    margin: 5px 20px;
    font-size: 18px;
}

.article p {
    margin: 10px 50px 10px 20px;
}

a.article {
    color: inherit;
    text-decoration: inherit;
}
a.article:hover {
    color: inherit;
    text-decoration: inherit;
}
a.article:active {
    color: inherit;
    text-decoration: inherit;
}

.article img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.article-img-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 390px;
    height: 240px;
}

.article-default-img {
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 390px;
    height: 240px;
    background-color: #BAE1DB;
    text-align: center;
    font-size: 32px;
    font-family: 'Pacifico', cursive;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-items: center;
    line-height: 36px;
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.article-default-img[class$='1'] {
    background-color: #BAE1DB;
}

.article-default-img[class$='2'] {
    background-color: #73d8d0;
}

.article-default-img[class$='3'] {
    background-color: #0D9488;
}

.article-date {
    font-weight: 400;
    float: right;
    padding-right: 20px
}

.article-loading-title {
    border-radius: 20px;
    background-color: #cdcdcd;
    height: 20px;
    width: 300px;
    margin: 40px 20px 20px 20px;
    padding-top: 14px;
}

.article-loading-text {
    border-radius: 20px;
    background-color: #cdcdcd;
    height: 10px;
    width: 250px;
    margin: 15px 50px 20px 20px;
}
.article-loading-text::before {
    content: '';
    border-radius: 20px;
    background-color: #cdcdcd;
    height: 10px;
    width: 250px;
    position: absolute;
    margin-top: 20px;
}
.article-loading-text::after {
    content: '';
    border-radius: 20px;
    background-color: #cdcdcd;
    height: 10px;
    width: 250px;
    margin-top: 40px;
    position: absolute;
}
.article-loading-date {
    border-radius: 20px;
    background-color: #afafaf;
    height: 10px;
    width: 100px;
    float: right;
    margin: 50px 20px 0px 0px;
}

div.article-loading {
    width: 390px;
    height: 450px;
}

@media only screen and (max-width: 1000px) {

    div.article {
       width: 80vw;
    }

    .article-default-img {
        width: 80vw;
    }
}